@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cats{
    background-image: url(./Images/SingInBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}