@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
}

.bg-cats {
    background-image: url(./Images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sign-cat {
    background-image: url(./Images/login-cat.png);
    /* width: 100%; */
}