@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
}

.bg-cats {
    background-image: url(./Images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sign-cat {
    background-image: url(./Images/login-cat.png);
    background-repeat: no-repeat;
    /* width: 100%; */
}
.DashBoardBg{
    background-image: url(./Images/HeaderDashboardBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.notification{
    background-color: white;
    background-image: url(./Components/icons/notificationOrange.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:calc(70%);
    
}
@layer components {
  .sign-up-social-btn {
    @apply flex flex-row items-center justify-between gap-x-[5px] rounded-[5px] border px-[10px] py-[5px] font-normal transition-shadow duration-300 hover:shadow-md;
  }
  .sign-up-input {
    @apply rounded-[10px] border-[0.5px] border-[#DCDCDC] px-[10px] py-[8px] placeholder:text-sm;
  }
  .log-in-btn {
    @apply rounded-[10px] bg-[#266F62] py-[8px] text-white;
  }
  .link {
    @apply cursor-pointer text-[#FF6231];
  }
}

html,
* button {
  font-family: "Nunito Sans", sans-serif;
}

.bg-cats {
  background-image: url(./Images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sign-cat {
  background-image: url(./Images/login-cat.png);
  background-repeat: no-repeat;
  /* width: 100%; */
}
.sign-up-dog {
  background-image: url(./Images/SignUp/Frame-636.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
}

.small-icon svg {
  height: 16px !important;
  width: 16px !important;
}
